<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    {{#each errorMessages}}

    <p style="color:red">{{message}}</p>

    {{/each}}
    {{#each successMessage}}
    <p style="color:green">{{message}}</p>
    {{/each}}

    {{{body}}}
  </body>
</html>
