<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hgroup</title>
  </head>
  <body>
    Welcome!
    Would you like to <a href="register">register?</a>
    or <a href="login">login?</a>
  </body>
</html>
   
