<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hgroup</title>
  </head>
  <body>
    Welcome!
    Are you a <a href="register">teacher?</a>
  </body>
</html>
