<!DOCTYPE html>
<html lang="en" dir="ltr" id="indexpage">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
      <a href="index">
      <img src="https://d1mfwzl1v92qfh.cloudfront.net/articles/good-grade.jpg" alt="" class="logo">
      <br>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Chain_link_icon.png" alt="" class="logo">
      </a>
    </header>
    <h1 class="title">Welcome to Assignment Link!</h1>
    <img src="https://d1mfwzl1v92qfh.cloudfront.net/articles/good-grade.jpg" alt="" class="titleimg">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Chain_link_icon.png" alt="" class="titleimg">

    <ul>
      <p class="home-option"><a href="register" class="home-option">Register</a></p>
      <p class="home-option"><a href="login" class="home-option">Login</a></p>
    </ul>

  </body>
</html>
