<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hgroup</title>
  </head>
  <body>
    <h1>Welcome to Assignment Link!</h1>
    <img src="https://www.wikihow.com/images/thumb/c/c9/Complete-an-Assignment-Step-2.jpg/aid1316282-v4-728px-Complete-an-Assignment-Step-2.jpg" alt="assignemnt">
    <img src="https://5.imimg.com/data5/DL/GK/MY-48113/link-chain-500x500.jpg" alt="link">
    <ul>
      <a href="register">Register</a>
      <a href="login"></a>
    </ul>
  </body>
</html> -->
