<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <section class="mid-box">
      <header>
        <a href="index">
          <img src="https://d1mfwzl1v92qfh.cloudfront.net/articles/good-grade.jpg" alt="" class="logo-small">
          <br>
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Chain_link_icon.png" alt="" class="logo-small">
        </a>
      </header>
      <h1 class="title">Login</h1>

      <form action="/login" method="post">
        <p>
        UserName:<input type="text" name="username" placeholder="Type your Username">
        <br>
        Password:<input type="password" name="password" placeholder="Type your Password">
        </p>
        <p class="small-text">Don't have an account yet? <a href="register">Click here to register</a></p>
        <p>
          <input type="submit" value="LOGIN">
        </p>
      </form>
    </body>
    </section>

</html>
