<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <section class="mid-box">
      <h1 class="title">Login</h1>

      <form action="/login" method="post">
        <p>
        UserName:<input type="text" name="username" placeholder="Type your Username">
        Password:<input type="password" name="password" placeholder="Type your Password">
        </p>
        <p>Don't have an account yet? <a href="register">Click here to register</a></p>
        <p>
          <input type="submit">
        </p>
      </form>
    </body>
    </section>

</html>
