<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Login</h1>
    Or go back to <a href="register">Register</a>
    <form action="/login" method="post">
      <p>
      UserName:<input type="text" name="username" placeholder="Type your Username">
      Password:<input type="password" name="password" placeholder="Type your Password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
