<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{#each grades}}

    <section class="assignment">
      <p id="assignmentName">Assignment name: {{assignmentName}}</p>
      <p id="studentName">Student name: {{studentName}}</p>
      <p id="score">Score: {{score}}</p>
      <p id="assignmentWorth">Assignment Worth:{{assignmentWorth}}</p>
      <br>
    </section>



    {{/each}}

      <a href="logout">logout</a>
      <a href="register">Register</a>
      <a href="login">login</a>

    <a href="teacher">Add another assignment</a>
  </body>
</html>
