<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>this is public view</p>

    {{#each grades}}

    <section class="assignment">
      <p id="assignmentName">Assignment name: {{assignmentName}}</p>
      <p id="studentName">Student name: {{studentName}}</p>
      <br>
    </section>


    {{/each}}

    <a href="teacher">Add another assignment</a>
  </body>
</html>
