<!DOCTYPE html>
<html lang="en" dir="ltr" id="registerpage">
  <head>
    <meta charset="utf-8">
    <title>register</title>
    <link rel="stylesheet" href="/css/master.css">

  </head>
  <body>

    <section class="mid-box">
      <h1 class="title">Register!</h1>
      <p>Already have an account? <a href="login">Click here to login</a></p>
      <form action="/register" method="post">

        <p>
        Username: <input type="text" name="username" placeholder="Type your UserName">
        <br>
        Password:  <input type="password" name="password" placeholder="Type your Password">

        </p>
        <p>
          <input type="submit">
        </p>
      </form>
    </section>
  </body>
  <link rel="stylesheet" href="/css/master.css">
</html>
