<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>register</title>
  </head>
  <body>
    <h1>Register!</h1>
    <p>Hi we're happy to have you! are you a     <a href="teacher">teacher?</a></p>

    <p></p>
    or a <a href="public">student?</a>
  </body>
</html>
