<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each errorMessages}}
    <p style= "color:red">{{message}}</p>

    {{/each}}
    {{#each successMessage}}
    <p style= "color:lightgreen">{{message}}</p>
    {{/each}}
    <form action="/register" method="post">
      <p>
      Assignment Name:<input type="text" name="username" placeholder="Type your UserName">
      password:<input type="password" name="password" placeholder="Type your Password">

      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
