<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/register" method="post">
      <p>
      username:<input type="text" name="username" placeholder="Type your UserName">
      password:<input type="password" name="password" placeholder="Type your Password">
      
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
