<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- adding a grade -->
    <form action="/register" method="post">
      <p><input type="text" name="assignmentName" placeholder="Assignment Name"></p>
      <p><input type="text" name="studentName" placeholder="Student's Name"></p>

      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
