<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a new Assignment</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>

  <body>
    <p>You are logged in</p>
    <!-- adding a grade -->
    <form action="/score" method="post">
      <p><input type="text" name="assignmentName" placeholder="Assignment Name"></p>
      <p><input type="text" name="studentName" placeholder="Student's Name"></p>
      <p><input type="number" name="score" placeholder="Assignemnt score (enter a number)"></p>
      <p><input type="number" name="assignmentWorth" placeholder="Assignment Worth(enter a number)"></p>
      <p>
        <input type="submit">
      </p>
    </form>

    <a href="logout">logout</a>
  </body>
  <link rel="stylesheet" href="/css/master.css">
</html>
